{% extends "layout.njk" %}

{% block head %}
  <title>chefs - Foodfy</title>
{% endblock %}
{% block content %}
<main class="card-chefs">
    <div id="grid-chefs">
      {% for chef in chefs %}
        <article class="chef-item">
          <div class="image-chef"> 
            <img src="{{chef.src}}" alt="{{chef.name}}">
          </div>
          <div class="details-chef">
            <div class="chef-name">{{chef.name}}</div>
            <a href="/admin/chefs/{{chef.id}}" id="{{chef.id}}">Visualizar</a>
          </div>
        </article>        
      {% endfor %}
    </div>
  </main>


{% endblock %}